<div id="map" #map></div>

<div class="floating-range p-2">
  <div class="floating-content">
    <button (click)="zoomOut()" class="btn btn-primary">-</button>
    <input type="range" [value]="zoom" #zoomInput (input)="zoomChanged(zoomInput.value)" class="form-range px-2"
      min="-2" max="18">
    <button (click)="zoomIn()" class="btn btn-primary">+</button>
  </div>
  <span class="form-label">Zoom: {{ zoom | number: '2.2-2' }}</span>
  <br>
  <!-- <span class="form-label">Lng, lat: {{lngLat.lng}} - {{lngLat.lat}}</span> -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="row g-1 align-items-center" autocomplete="off">
    <div class="col-auto">
      <label class="form-label m-0">Lng:</label>
    </div>
    <div class="col-auto">
      <input formControlName="lng" class="form-control form-control-sm" type="number">
    </div>
    <div class="col-auto">
      <label class="form-label m-0">Lat:</label>
    </div>
    <div class="col-auto">
      <input formControlName="lat" class="form-control form-control-sm col-5" type="number">
    </div>
    <div class="col-auto">
      <label class="form-label m-0">Color:</label>
    </div>
    <div class="col-auto">
      <input formControlName="color" type="color" class="form-control form-control-color form-control-sm">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary btn-sm">{{myForm.pristine ? 'Mark' : 'Search'}}</button>
    </div>
  </form>
</div>

@if (marks.length > 0) {
<button (click)="clearMarks()" class="btn btn-danger btn-clear">
  <i class="bi bi-trash3-fill"></i>
  Clean map
</button>
<ul class="list-group">
  @for (item of marks; track $index) {
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <i class="bi bi-geo-alt-fill" (click)="goTo(item.mark.getLngLat())" [ngStyle]="{'color': item.color}"></i>
    <span>Mark {{$index +1}}</span>
    <span class="badge bg-danger rounded-pill" (click)="removeItem($index)">X</span>
  </li>
  }
</ul>
}